<html>
  <head>
    <link rel="stylesheet" href="/static/layuiadmin/layui/css/layui.css">
  </head>
  <body>
          <div class="layui-form" id="edit-user-ifame" style="margin: 40px 30px 20px 50px">
            <div class="layui-form-item" >
              <label class="layui-form-label">用户名</label>
              <div class="layui-input-inline">
                <input type="text" name="username" lay-verify="required" readonly="" value="{{ username }}" class="layui-input">
              </div>
            </div>
            <div class="layui-form-item">
              <label class="layui-form-label">密&nbsp;&nbsp;&nbsp;&nbsp;码</label>
              <div class="layui-input-inline">
                <input type="text" name="password" lay-verify="pass" autocomplete="off" value="" class="layui-input">
              </div>
            </div>
            <div class="layui-form-item">
              <label class="layui-form-label">邮&nbsp;&nbsp;&nbsp;&nbsp;箱</label>
              <div class="layui-input-inline">
                <input type="text" name="email" lay-verify="required" autocomplete="off" value="{{ email }}" class="layui-input">
              </div>
            </div>
            <div class="layui-form-item">
              <label class="layui-form-label">电&nbsp;&nbsp;&nbsp;&nbsp;话</label>
              <div class="layui-input-inline">
                <input type="text" name="phone" lay-verify="phone" autocomplete="off" value="{{ tel }}" class="layui-input">
              </div>
            </div>
            <div class="layui-form-item">
              <label class="layui-form-label">部&nbsp;&nbsp;&nbsp;&nbsp;门</label>
              <div class="layui-input-block" style="width: 45%">
                <select name="groupname">
                    {% for name, id in  all_group.items %}
                  <option value="{{ name }}" name="{{ name }}" {% if name == user_group %} selected {% endif %}>{{ name }} </option>
                    {% endfor %}
                </select>
              </div>
            </div>
            <div class="layui-form-item layui-hide">
                <button class="layui-btn" lay-submit lay-filter="edit-user-submit" id="edit-user-submit">提交</button>
            </div>
            <!--div class="layui-form-item">
              <div class="layui-input-block">
                <button class="layui-btn layui-btn-normal layui-text-center" id="user-edit-submit" lay-submit="" lay-filter="user-edit-submit" style="margin-left: 70px">确认</button>
              </div>
            </div-->
          </div>
</body>
  <script src="/static/layuiadmin/layui/layui.js"></script>
  <script>
  layui.config({
    base: '/static/layuiadmin/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
  }).use(['index', 'form'], function(){
    var $ = layui.$
    ,form = layui.form ;
  })
  </script>
</html>
