

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>密码找回</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="/static/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="/static/style/admin.css" media="all">
  <link rel="stylesheet" href="/static/style/login.css" media="all">
</head>
<body>
  <div class="layadmin-user-login layadmin-user-display-show" id="LAY-user-login" style="display: none;">
    <div class="layadmin-user-login-main">
      <div class="layadmin-user-login-box layadmin-user-login-header">
        <h2>密码找回</h2>
        <p>请输入您的用户名和邮箱</p>
      </div>
      <div class="layadmin-user-login-box layadmin-user-login-body layui-form">
      
        <script type="text/html" template>
          {#  { if(layui.router().search.type === 'resetpass') }#}
            <div class="layui-form-item">
              <label class="layadmin-user-login-icon layui-icon layui-icon-username" for="LAY-user-login-password"></label>
              <input type="text" name="username" id="LAY-user-login-email" lay-verify="required" placeholder="用户名" class="layui-input">
            </div>
            <div class="layui-form-item">
              <label class="layadmin-user-login-icon layui-icon layui-icon-picture-fine" for="LAY-user-login-password"></label>
              <input type="text" name="email" id="LAY-user-login-email" lay-verify="email" placeholder="邮箱" class="layui-input">
            </div>

            <div class="layui-form-item">
              <button class="layui-btn layui-btn-fluid" lay-submit lay-filter="LAY-user-forget-submit">重置密码</button>
            </div>
          {# { } else { }#}

          {#  { } }#}
        </script>
   
      </div>
    </div>
    
    <div class="layui-trans layadmin-user-login-footer">
      
      <p>© 2019</p>

    </div>

  </div>

  <script src="/static/layui/layui.js"></script>
  <script>
  layui.config({
    base: '/static/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
  }).use(['index', 'user'], function() {
      var $ = layui.$
          , admin = layui.admin
          , form = layui.form;

      form.render();


      form.on('submit(LAY-user-forget-submit)', function (obj) {
          var field = obj.field;

          $.ajax({
           url: "/user/passwd_forget/",
           type: 'post',
           data: field,
          }).done(function(res){
             if(res.code===0){
                 layer.msg('新密码已发送到邮箱，请查收！',{icon:1, time:2000, offset: '15px'}, function () {
                     location.href = '/';
                 });
             }else{
                 layer.msg(res.msg,{icon:5, offset: '15px'},function(){
                   return;
                 });
             }
          });

      });
  });
  </script>
</body>
</html>