{% extends 'base/base.html' %}
{% block title %}
    用户列表
{% endblock %}

{% block content %}
    <div class="layui-body" style="background-color: #f2f2f2;">
    <div class="layui-fluid">
  <div class="layui-row layui-col-space15">
    <div class="layui-col-md12">
      <div class="layui-card">
        <div class="layui-card-header">用户列表</div>
<div class="layui-card-body">

            <div class="table-reload-btn" style="margin-bottom: 10px;">
              <button class="layui-btn layuiadmin-btn-admin" data-type="add_user" id="add_user-btn" >添加用户</button>

            </div>
            <table class="layui-hide" id="user_table" lay-filter="user_table"></table>
          </div>
      </div>
    </div>
  </div>
    </div>
    </div>

{% endblock %}

{% block script %}
{% verbatim %}
<script type="text/html" id="userbar">
    <a class="layui-btn layui-btn-radius layui-btn-normal layui-btn-xs" lay-event="edit"><i class="layui-icon layui-icon-edit">编辑</i></a>
    {{#  if( d.username == "admin"){ }}
    <a class="layui-btn layui-btn-radius layui-btn-danger layui-btn-xs layui-btn-disabled" disabled="disabled"><i class="layui-icon layui-icon-delete">删除</i></a>
    {{#  } else { }}
    <a class="layui-btn layui-btn-radius layui-btn-danger layui-btn-xs project-delete" lay-event="del"><i class="layui-icon layui-icon-delete">删除</i></a>
    {{#  } }}
</script>
{% endverbatim %}
        <script>
layui.use('table', function(){
  var table = layui.table;

  table.render({
    elem: '#user_table'
    ,method: 'POST'
    ,url: '/user/manager/' //数据接口
    ,page: true //开启分页
    ,limit: 10
    ,request: {
        pageName: 'curr'
      }
    ,cols: [[ //表头
      {field: 'id', title: 'ID', align:'center',width:80, sort: true, fixed: 'left'}
      ,{field: 'username', title: '用户名',width:100, align:'center'}
      ,{field: 'email', title: '邮箱', align:'center'}
      ,{field: 'tel', title: '手机',width:130, align:'center'}
      ,{field: 'group', title: '所属部门',width:200, align:'center'}
      ,{field: 'is_active', title: '状态',width:80, align:'center'}
      ,{field: 'is_admin', title: '是否管理员', width:100, align:'center'}
      ,{field: 'create_date', title: '创建时间',  align:'center'}
      ,{field: 'last_login', title: '最后登录时间', align:'center'}
      ,{fixed: 'right', title: '操作', width:150, align:'center', toolbar: '#userbar'}
    ]]
    ,parseData: function (res) {
        return {
            "code": res.status,
            "msg": res.message,
            "count": res.total,
            "data": res.data.item
        };
      }
  });

  table.on('tool(user_table)', function(obj){ //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
          var data = obj.data; //获得当前行数据
          console.log(data);
          var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
          var tr = obj.tr; //获得当前行 tr 的DOM对象

          if(layEvent === 'del'){ //删除
            layer.confirm('您真的要删除 <strong>' + data.username + '</strong> 么?',{icon:3, title:'提示信息'}, function(index){
              layer.close(index);
              //向服务端发送删除指令
               $.ajax({
                    url: "/user/del/",
                    type: 'post',
                    data: {id: data.id},
                }).done(function(res){
                    if(res.code===0){
                        obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
                        layer.msg(res.msg,{icon:1});
                    }else{
                        layer.msg(res.msg,{icon:3,time:3000},function(){
                          location.reload();  //刷新
                        });
                    }
                })
            });
          } else if(layEvent === 'edit'){ //编辑
            //edit(data.id);
             layer.open({
                type: 2,
                title: ['编辑用户'],
                area: ['500px', '420px'],
                content: '/user/edit/?id=' + data.id,
                btn: ['确定', '取消'],
                btnAlign: 'c',
                yes: function (index, layero) {
                var iframeWindow = window['layui-layer-iframe'+ index]
                ,submit = layero.find('iframe').contents().find('#edit-user-submit');
                //console.log(" add user submit", iframeWindow);
                //监听提交
                iframeWindow.layui.form.on('submit(edit-user-submit)', function(data){
                    var field = data.field; //获取提交的字段
                    //提交 Ajax 成功后，静态更新表格中的数据
                    console.log('start ajax');
                       $.ajax({
                            url: "/user/edit/",
                            type: 'post',
                            data: field,
                        }).done(function(res){
                              if(res.code===0){
                                  layer.close(index);
                                  layer.msg(res.msg,{icon:1, time:2000}, function () {
                                      location.reload();
                                  });
                                  table.reload('user_table');
                              }else{
                                  layer.msg(res.msg,{icon:3},function(){
                                    return;
                                  });
                              }
                          });
            });
            submit.trigger('click');
            }
      });
                /*
               $.ajax({
                    url: "/projects/search/",
                    //type: 'get',
                    data: {app_id: data.app_id},
                }).done(function (str) {
                   console.log('str' + str);
                   layer.open({
                       type: 2,
                       title: ['编辑项目'],
                       area: ['500px', '600px'],
                       content: str.replace('"', '')
                   });
               });
               */
          }
        });
  /*
  var $ = layui.$, active = {
      reload: function(){
        var project_name = $('#project_table_reload').val();

        //执行重载
        table.reload('user_table', {
          url: '/projects/search/'
          ,method: 'post'
          ,page: {
            curr: 1 //重新从第 1 页开始
          }
          ,where: {
              project_name: project_name
          }
        });
      }
    };
      $('.table-reload-btn .layui-btn').on('click', function(){
      var type = $(this).data('type');
      active[type] ? active[type].call(this) : '';
    });

    */
});

/*
$('#add_user-btn').on('click', function () {
    layer.open({
        type: 1,
        title: ['添加项目'],
        area: ['500px', '500px'],
        content: $('#add-user-ifame'),
    })

});
*/

/*
$('#add_user-btn').on('click', function () {
    layer.open({
        type: 2,
        title: ['添加用户'],
        area: ['500px', '500px'],
        content: '/user/add/',
        yes: function (index, layero) {
            layer.close(index);
            window.location.reload();
        }
    })

});
*/


layui.config({
    base: '/static/' //静态资源所在路径
      ,debug: false
  }).extend({
    index: 'lib/index' //主入口模块
  }).use(['index', 'useradmin', 'form', 'table'], function () {
    var $ = layui.$,
     table = layui.table,
     form = layui.form;

    var active = {
        "add_user": function () {
            layer.open({
            type: 2,
            title: ['添加用户'],
            area: ['500px', '470px'],
            content: '/user/add/',
            btn: ['确定', '取消'],
            btnAlign: 'c',
            yes: function (index, layero) {
                var iframeWindow = window['layui-layer-iframe'+ index]
                ,submit = layero.find('iframe').contents().find('#add-user-submit');
                //console.log(" add user submit", iframeWindow);
                //监听提交
                iframeWindow.layui.form.on('submit(add-user-submit)', function(data){
                    var field = data.field; //获取提交的字段
                    //提交 Ajax 成功后，静态更新表格中的数据
                    //console.log('start ajax');
                       $.ajax({
                            url: "/user/add/",
                            type: 'post',
                            data: field,
                        }).done(function (res) {
                            if(res.code===0){
                                  layer.close(index);
                                  layer.msg(res.msg,{icon:1, time:2000}, function () {
                                      table.reload('user_table');
                                  });
                              }else{
                                  layer.msg(res.msg,{icon:5},function(){
                                    return;
                                  });
                              }
                       });
            });
            submit.trigger('click');
            }
        })
        }
    };

    $('.layui-btn.layuiadmin-btn-admin').on('click', function(){
      var type = $(this).data('type');
      active[type] ? active[type].call(this) : '';
    });

});

</script>
{% endblock %}

